/*css reset*/
* {
  padding:  0;
  margin:  0;
  box-sizing: border-box;
}

.cardHighlight {
  min-height: 100%;
  background-color: #E8F9FD !important;
}

.footerDiv {
  text-align: center;
  margin-top: 1rem;
  padding: 10px;
  background-color: #f8f9fa;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.footerDiv p {
  margin-bottom:-11px;
  margin-top: -4px;
  padding:0 ;
}

.banner{
  margin-top: 40px;
}
.brand{
  padding-top: 5rem;
  margin-top: 0px
}

.subtitle{
  margin-top: 2rem;
}

.bgimage {
 width:100%;
}

.banner Button {
  margin-top: 1.5rem;
}

.logo{
  font-family: monospace;
}

.startLine {
  margin-top: 1.2rem;
}

.prodCard {
  margin-top: 0.25rem;
  margin-bottom: 0.3rem;
}

